<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aliments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aliments">
        <activity android:name=".vues.SearchSellerActivity"></activity>
        <activity android:name=".vues.SearchAlimentActivity" />
        <activity android:name=".vues.AcceuilVendeurActivity" />
        <activity android:name=".vues.AcceuilAcheteurActivity" />
        <activity android:name=".vues.ReponseNotifActivity" />
        <activity android:name=".vues.NotificationsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>